.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.login-button {
  background-color: #4CAF50; /* Green background color */
  color: white; /* White text color */
  padding: 10px 20px; /* Padding around text */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Cursor on hover */
  text-align: center; /* Center text */
  font-size: 16px; /* Font size */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Display as block element */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
  margin-right: 10px; /* Add margin between buttons */
}

.login-button:hover {
  background-color: #45a049; /* Darker green on hover */
}


.navbarwrap{
  display: flex;

}

.navbar{
  width: 100%;
  height: auto;
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  
}
.navbarbutton{
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .searchbar{
    width:500px;
  }
  .zomatoimg{
    height: auto;
    width: 15%;
  }
  

  .search-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  
  .logo-container {
    margin-right: 10px;
  }
  
  .search-input-container {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .search-button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .logo {
    height: 40px; /* Adjust the height of the logo as needed */
    width: 40px; /* Adjust the width of the logo as needed */
  }

  
  
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
